body
{
    font-family: 'Helvetica', Arial, sans-serif;
    background-color: rgb(148, 240, 140);
}

video {    
        width: 100% !important;
        height: auto !important;
        margin: 30 auto;
        display: block;
      
}
#sug{
     font-size:14pt;
     height:420px;
     width:700px;
}
#foto3{
    width: 40% ; height: 40%;
}
nav {
  font-family: "Helvetica", Arial, sans-serif;
}